@model System.Collections.Generic.IEnumerable<cms_prov.Models.ItemModel>

@{
    ViewBag.Title = "Sort";
}

<div class="pg-opt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Productos</h2>
            </div>
            
        </div>
    </div>
</div>

<section class="slice bg-white">
    <div class="wp-section">  @*wp-section*@
        <div class="container">  @*container*@
            <div class="row"> @*row container*@
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="panel panel-default panel-sidebar-1">
                                <div class="panel-heading"><h2>Búsqueda Avanzada</h2></div>
                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                    <form class="form-light" role="form">
                                        <div class="form-group">                                        
                                            <p>
                                                @Html.TextBox("SearchString")                                              
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p>
                                                Categoría : @Html.DropDownList("SelectedCategory", "ALL")                                               
                                            </p>                                            
                                        </div>                                       
                                        <button type="submit" class="btn btn-base">Buscar</button>
                                    </form>
                                    }
                                </div>
                        </div>                       
                    </div>
                </div>
                <div class="col-md-9">
                <div class="row">
                    <!-- Product list sort events -->
                    <div class="col-md-12">
                        <div class="wp-block default product-list-filters light-gray">
                            <span class="view-mode hidden-xs hidden-sm">
                                <a href="">
                                    <i class="fa fa-th"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </span>
                            <div class="filter sort-filter">
                                <div class="form-inline form-light">
                                    <label>Ordenar por</label>
                                    <a href="">
                                        <i class="fa fa-arrow-down"></i>
                                        @Html.ActionLink("Description", "Sort", new { sortOrder = ViewBag.NameSortParm/*, currentFilter = ViewBag.CurrentFilter */})
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
               
                @{
                    var itemCount = 0;
                }
                <!-- Product list -->
                @{
                    foreach (var item in Model.Reverse().Take(9))
                    {
                        var insertRow = (itemCount % 3 == 0 || itemCount % 3 == 3);
                        if (insertRow)
                        {
                            @*@Html.Raw(@"<div class=""row"">")*@
                    @:<div class="col-md-4">
                        }
                        <div>

                            <div class="wp-block product">
                                <figure>
                                    @*<img alt="" src="~/Images/20852816-6959-f6580ba5 (1).jpg" class="img-responsive img-center">*@
                                    <img src="data:image/png;base64,@Convert.ToBase64String(item.Imagen, 0, item.Imagen.Length)" class="img-responsive img-center" />
                                </figure>
                                <h2 class="product-title"><a href="">@Html.DisplayFor(modelItem => item.Description)</a></h2>
                                <p>
                                    Descripcion del producto
                                </p>
                                <div class="wp-block-footer">
                                    <span class="price pull-left">@Html.DisplayFor(modelItem => item.Precio)</span>
                                    <a href="#" class="btn btn-sm btn-base btn-icon btn-cart pull-right">
                                        <span>Add to cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        if (insertRow)
                        {
                            @*@Html.Raw("</div>")*@
                            @:</div>
                        }
                       
                    }
                    itemCount++;
}
             
@*</div>*@  @*end container*@












@*</div>*@
   
                </div> @*row container end*@
            </div> @*row end*@
        </div>@*container end*@     
    </div> @*wp-section end*@
</section>
